.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
}
.booksContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 90%;
  height: 75vh;
  overflow: scroll;
}

.booksHeader {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 5vh;
}
