.book-card {
  position: relative;
  margin: 10px;
  width: 250px;
}

.card {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.book-image {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 18rem;
  width: 100%;
}

.book-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: filter 0.2s ease-in-out;
}

/* Open card styles */
.book-card.open .book-image img {
  scale: 1.8;
  filter:contrast(.5) blur(3px);
  transition: all .5s;
}

/* Book details styles */
.book-details {
  padding: 10px;
}

.book-details meta {
  margin-bottom: 0;
}

/* Overlay styles */
.overlay {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 92%;
  height: 96%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

.book-description {
  color: #fff;
  font-size: 14px;
  text-align: center;
  overflow: auto;
}
.book-description::-webkit-scrollbar {
  display: none;
}


.book-actions {
  display: flex;
  justify-content: center;
}

.book-actions button {
  background-color: transparent;
  border: none;
  color: orange;
  cursor: pointer;
  font-size: 30px;
}
