.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  width: 100vw;
  background-color: rgb(149, 149, 149);
}

.searchBar {
  width: 60%;
}

.ant-btn-primary {
  background-color: grey;
}
