.body {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 83vh;
  width: 100vw;
}
.body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../utils/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(3px);
  z-index: -1;
}

.headers {
  display: flex;
  flex-direction: column;
}

.headerBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  color: #fff;
  justify-content: space-between;
  align-items: center;
}
.secHeaderBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 5vh;
  background-color: rgba(48, 48, 48, 0.2);
  backdrop-filter: blur(5px);

  color: #fff;
}
.secHeaderBar > div {
  margin-right: 2rem;
  cursor: pointer;
}

.secHeaderBar .ant-btn {
  margin-right: 1rem;
  background-color: grey;
}

.ant-btn-primary {
  background-color: grey;
}

.homeLogo {
  height: 5rem;
  padding-left: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out; 
}

.homeLogo:hover {
  scale: 1.1;
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  height: 73vh;
  width: 100vw;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}
.book-container::-webkit-scrollbar {
  display: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  border-right: 5px red solid;
  height: 100%;
  width: 20vw;
}

.greetingBody {
  height: 15vh;
  width: 85%;
  border: 1px solid gray;
  border-radius: 1rem;
  margin: 0.5rem;
}

.footer {
  display: flex;
  flex-direction: row;
  z-index: 2;
  bottom: 0;
  justify-content: center;
  align-items: center;
  height: 7vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.footerContainer {
  display: flex;
  justify-content: space-between;
}

.ant-pagination-item a {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(75, 75, 75);
  border-radius: 5px;
  cursor: pointer;
}

.ant-pagination-item a:hover,
.ant-pagination-item a:disabled {
  background-color: #fff;
  color: #2c2c2c;
}
.ant-pagination .ant-pagination-item-active a {
  color: #fff;
}

.ant-pagination .ant-pagination-item-active {
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: #fff;
}
